@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 50px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1300px);
}

.block-scroll {
	overflow-y: hidden;
}

.header {
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
		background-color: $bg-color;

		.navbar__logo,
		.hamburger {
			margin: 0 0.75em;
		}

		&__logo {
			&-img {
				width: 150px;
			}
		}

		&__menu-desktop {
			display: none;
		}

		&__menu-mobile {
			position: fixed;
			top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: calc(100vh - 80px);
			width: 100%;
			background-color: $dark;
			transform: translateX(-150%);
			transition: transform 0.5s ease-out;

			&-item {
				padding: 1.25em;
				width: 100%;
				font-size: 2.2rem;
				color: $pure-white;
				text-align: center;
				text-decoration: none;
			}
		}
	}

	.show-mobile-nav {
		transform: translateX(0);
	}

	.nav-items-animation {
		animation: navItemsAnimation 1s both;
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(-130%);
	}

	to {
		transform: translateX(0);
	}
}
