@use 'colors' as *;

// @font-face {
// 	font-family: 'righteous';
// 	src: url('../fonts/righteous-regular-webfont.woff2') format('woff2'),
// 		url('../fonts/righteous-regular-webfont.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'raleway';
// 	src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
// 		url('../fonts/raleway-regular-webfont.woff') format('woff');
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'raleway-semi';
// 	src: url('../fonts/ralewaysemibold-regular-webfont.woff2') format('woff2'),
// 		url('../fonts/ralewaysemibold-regular-webfont.woff') format('woff');
// 	font-weight: 600;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
// 	font-family: 'raleway-bold';
// 	src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
// 		url('../fonts/raleway-bold-webfont.woff') format('woff');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display: swap;
// }

// :root {
// 	--heading-font: 'righteous', sans-serif;
// 	--default-font: 'raleway', sans-serif;
// 	--default-semi: 'raleway-semi', sans-serif;
// 	--default-bold: 'raleway-bold', sans-serif;
// }

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 60px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
	background-color: $bg-color;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1300px);
}

.block-scroll {
	overflow-y: hidden;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 999;

	.navbar {
		height: 80px;
		background-color: $bg-color;
		width: 100%;

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;
		}

		.navbar__logo,
		.hamburger {
			margin: 0 0.75em;
		}

		&__logo {
			&-img {
				width: 150px;
			}
		}

		&__menu {
			position: fixed;
			top: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: calc(100vh - 80px);
			width: 100%;
			background-color: $dark;
			transform: translateX(-150%);
			transition: transform 0.5s ease-out;
			z-index: 999;

			&-item {
				padding: 1.25em;
				width: 100%;
				font-family: 'Raleway', sans-serif;
				font-size: 2.1rem;
				color: $pure-white;
				text-align: center;
				text-decoration: none;
				transition: background-color 0.3s;

				&:hover {
					background-color: $orange;
				}
			}
		}
	}

	.show-mobile-nav {
		transform: translateX(0);
	}

	.nav-items-animation {
		animation: navItemsAnimation 1s both;
	}
}

main {
	.section {
		padding: 3em 1em;
	}

	.main-heading {
		font-size: 3rem;
		color: $pure-white;
		letter-spacing: 1px;
		text-align: center;

		span {
			color: $orange;
		}
	}

	.subheading {
		margin-top: 0.3em;
		font-family: 'Righteous', sans-serif;
		font-size: 2.5rem;
		color: $pure-white;
		letter-spacing: 1px;
	}

	.h2-decoration {
		display: flex;
		align-items: center;

		&-line {
			width: 80px;
			height: 3px;
			background-color: $orange;
		}

		&-text {
			margin-left: 0.5em;
			font-family: 'Righteous', sans-serif;
			color: $orange;
			text-transform: uppercase;
		}
	}

	.bold {
		font-weight: bold;
	}

	.welcome {
		position: relative;
		padding-top: 80px;
		height: 500px;
		background-image: url('../img/hero-img-mobile.webp');
		background-position: 10% 25%;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 5;

		.wrapper {
			position: relative;
			height: 100%;
			z-index: 1;
		}

		&-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-family: 'Righteous', sans-serif;

			&-decor {
				margin-bottom: 0.25em;
				padding: 0.25em 0.5em;
				width: 130px;
				font-size: 1.6rem;
				color: $pure-white;
				background-color: $orange;
				border-radius: 6px;
				text-align: center;
			}

			&-cta {
				margin-top: 1.75em;
				padding: 0.8em 1em;
				width: 190px;
				font-family: 'Righteous', sans-serif;
				font-size: 1.6rem;
				color: $pure-white;
				background-color: $dark;
				border: none;
				border-left: 4px solid $orange;
				transition: color 0.3s, background-color 0.3s;
				cursor: pointer;

				&:hover {
					color: $orange;
					background-color: rgb(21, 21, 21);
				}
			}

			&__breadcrumbs {
				margin-top: 1em;

				&-link {
					text-decoration: none;
				}

				&-link,
				&-arrow {
					font-family: 'Raleway', sans-serif;
					font-size: 1.7rem;
					color: $pure-white;
				}
			}
		}

		&__shadow,
		&__gradient {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&__shadow {
			background-color: rgba(0, 0, 0, 0.3);
		}

		&__gradient {
			background: rgb(0, 0, 0);
			background: linear-gradient(
				152deg,
				rgba(0, 0, 0, 0.55) 13%,
				rgba(0, 0, 0, 0.55) 28%,
				rgba(55, 18, 9, 0.55) 62%,
				rgba(112, 36, 19, 0.55) 82%,
				rgba(255, 82, 43, 0.35) 100%
			);
		}
	}

	.services-section {
		height: 350px;
		background-image: url('../img/services-hero-mobile.webp');

		.welcome-box {
			margin-top: 1em;
		}
	}

	.services {
		position: relative;
		margin-top: -6em;
		z-index: 6;

		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&-service {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 1.5em 1em;
				background-color: $dark;
				border-radius: 6px;

				&-icon {
					width: 50px;
					height: 50px;
				}

				&-title {
					margin-top: 0.5em;
					font-family: 'Righteous', sans-serif;
					font-size: 2.1rem;
					color: $pure-white;
				}

				&-description {
					margin-top: 0.3em;
					font-family: 'Raleway', sans-serif;
					font-size: 1.5rem;
					color: #9a9a9a;
					text-align: center;
				}

				&-button {
					display: flex;
					align-items: center;
					margin-top: 2em;
					padding: 0.7em 1.3em;
					font-family: 'Raleway', sans-serif;
					font-size: 1.4rem;
					font-weight: 800;
					background-color: #4a4a4a;
					color: $pure-white;
					border: none;
					border-radius: 26px;
					text-transform: uppercase;
					transition: background-color 0.3s, color 0.3s;
					cursor: pointer;

					svg {
						margin-left: 1em;
						padding: 0.35em;
						width: 25px;
						height: 25px;
						background-color: #8a8a8a;
						border-radius: 50%;
					}

					&:hover {
						background-color: #d6d6d6;
						color: rgb(69, 69, 69);
					}
				}

				&:nth-child(2),
				&:nth-child(3) {
					margin-top: 2em;
				}
			}
		}
	}

	.aboutus {
		position: relative;

		&__box {
			display: flex;
			flex-direction: column;

			&-img {
				&-image {
					width: 100%;
					border-radius: 6px;
				}
			}

			&-text {
				display: flex;
				flex-direction: column;
				margin-top: 3em;

				&-description,
				&-list {
					font-family: 'Raleway', sans-serif;
					color: #b1b1b1;
					line-height: 1.5em;
				}

				&-description {
					margin-top: 1em;
				}

				&-list {
					margin-top: 0.5em;
					list-style-type: disc;

					&-item {
						margin-left: 1em;
					}

					&-item::marker {
						color: $orange;
					}
				}
			}
		}
	}

	.reviews {
		position: relative;
		padding-bottom: 4em;
		background-color: $dark;

		.wrapper {
			.h2-decoration {
				margin-top: 3em;
			}

			.testimonials-swiper {
				margin-top: 4em;
				height: 340px;
				width: 90%;

				&-wrapper {
					&-slide {
						position: relative;
						display: flex;
						flex-direction: column;
						padding: 1.5em 1.5em 3.5em 1.5em;
						background-color: #f8f8f8;
						border-radius: 8px;
						overflow: hidden;

						&__upper {
							display: flex;
							align-items: center;

							&-left {
								img {
									width: 55px;
									height: 55px;
								}
							}

							&-right {
								margin-left: 1.5em;

								&-name {
									font-family: 'Righteous', sans-serif;
									font-size: 2rem;
								}

								&-stars {
									margin-top: 0.3em;

									img {
										width: 18px;
										height: 18px;
									}
								}
							}
						}

						&__lower {
							margin-top: 1.5em;

							&-text {
								font-family: 'Raleway', sans-serif;
								font-size: 1.7rem;
								line-height: 1.6em;
							}
						}

						&__circle {
							position: absolute;
							top: -15%;
							right: -15%;
							width: 150px;
							height: 150px;
							border: 20px solid #ff522b;
							border-radius: 50%;
							opacity: 0.3;
						}
					}
				}

				.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
				.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
					background: $orange;
				}
			}
		}
	}

	.partners {
		padding: 0.5em 0;
		background-color: $orange;

		&-swiper {
			&-wrapper {
				display: flex;
				align-items: center;
				transition-timing-function: linear;

				&-slide {
					display: flex;
					width: auto;

					img {
						width: 160px;
					}
				}

				.valvoline {
					img {
						width: 90px;
					}
				}
			}
		}
	}

	.contact {
		.wrapper {
			.contact-box {
				margin-top: 4em;

				&__element {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-bottom: 3em;
					color: $pure-white;

					&-title {
						display: flex;
						align-items: center;
						margin-bottom: 1.5em;
						font-family: 'Righteous', sans-serif;

						&-icon {
							margin-right: 0.75em;
							padding: 0.25em;
							width: 40px;
							height: 40px;
							background-color: $orange;
							border-radius: 6px;
						}

						&-name {
							font-size: 2rem;
						}
					}

					&-content {
						font-family: 'Raleway,', sans-serif;
						font-size: 1.8rem;

						&:nth-of-type(3),
						&:nth-of-type(5) {
							margin-top: 0.75em;
						}

						&:nth-of-type(2),
						&:nth-of-type(4),
						&:nth-of-type(6) {
							margin-bottom: 0.5em;
							font-size: 1.7rem;
						}
					}

					.semi-bold {
						font-weight: 600;
					}

					&--last {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.google-map {
		iframe {
			width: 100%;
			height: 300px;
			filter: invert(90%);
		}
	}
}

.footer {
	padding: 1em;
	font-family: 'Raleway', sans-serif;
	color: $pure-white;
	text-align: center;

	&__upper {
		span {
			color: $orange;
		}
	}

	&__lower {
		margin-top: 1em;
		font-size: 1.3rem;

		a {
			color: $orange;
			text-decoration: none;
		}
	}
}

.custom-shape-divider-top-1722430341 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 998;
}

.custom-shape-divider-top-1722430341 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 50px;
}

.custom-shape-divider-top-1722430341 .shape-fill {
	fill: #0c0c0c;
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(-130%);
	}

	to {
		transform: translateX(0);
	}
}
